<!-- addcontact.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Contact</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <!-- Link to external stylesheet -->
  </head>
  <body>
    <nav class="navbar">
      <h1>My Contacts</h1>
      <div class="links">
        <a href="/">Home</a
        ><a class="new-item-link" href="/addcontact">New Goal</a>
      </div>
    </nav>

    <div class="content">
      <div class="create">
        <h2>Add a New Contact</h2>
        <form action="/addContact" method="POST">
          <label>Title:</label
          ><input type="text" value="" id="firstName" name="firstName" required />

          <label for="lastName">lastName:</label>
          <textarea
            value=""
            id="phone"
            name="phone"
            rows="4"
            required
          ></textarea
          ><br />

          <label for="email">email:</label>
          <input type="date" id="email" name="email" required /><br />

          <label>Author:</label>
          <select>
            <option value="sami">Sami</option>
            <option value="rami">Rami</option></select
          ><br />

          <label for="achieved">Achieved:</label>
          <input type="checkbox" id="achieved" name="achieved" /><br />

          <button type="submit">Add Contact</button>
        </form>
      </div>
    </div>
  </body>
</html>